@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Roboto:wght@300&display=swap');

body {
    margin: 0 auto;
    background-color: #f1f1f3;
}
main {
    padding-bottom: 10em;
    max-width: 1600px;
    margin: 0 auto;
}
/* -----------This section is for the header---------- */

.logo {
    width: 7em;
    display: block;
    margin: 0 auto;
    margin-top: 0.7%;
}
nav {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    padding: 15px 0px;
    background-color: #290000;
    margin-top: 0.8%;
    text-align: center;
}
nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0% 7%;
    font-size: 180%;
}
nav a:hover {
    opacity: 0.8;
    padding: 1%;
    margin: 0% 6%;
    box-shadow: 0px -2px 7px #290000;
}
/* -------------------------------------- HOME PAGE - PAGE 1 --------------------------------------  */

/* -----------Intersection from header to main section---------- */
#hero {
    max-width: 1600px;
    display: grid;
    grid-template-columns: 12% 1fr 12%;
    grid-template-rows: 2.7% 1fr 8.31%;
    margin: 0 auto;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-area: 1/1/4/4;
}
#hero-msg {
    grid-area: 1/2/3/3;
}
#home-title {
    font-family: 'Times New Romans', Times, serif;
    color: white;
    text-align: center;
    font-size: 400%;
    margin-top: 10%;
}
#first-msg {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 30px 45px 30px;
    font-size: 230%;
    margin-top: 10%;
    background-color: #ffffff;
    opacity: 0.85;
    border-radius: 10px;
}
/* -----------This section is for the main of the Home Page---------- */

#home-grid {
    display: grid;
    grid-template-columns: 4% 40% 52% 4%;
    grid-template-rows: 7% 45.5% 8% 47.1% 60px;
}
#home-grid img {
    width: 100%;
    /* height: 100%; */
}
#store-img {
    grid-column: 2/3;
    grid-row: 2/3;
}
#classes-img {
    grid-column: 2/3;
    grid-row: 4/5;
}
#store-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #560a0a;
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: 320%;
    padding: 4% 3% 1% 3%;
    text-align: center;
}

#classes-text {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffe6e6;
    color: #560a0a;
    grid-column: 3/4;
    grid-row: 4/5;
    font-size: 2.8em;
    padding: 5% 3% 1% 5%;
    text-align: center;
}
#store-button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #290000;
    background-color: #ebebeb;
    font-size: 25px;
    padding: 15px;
    border-radius: 50px;
}
#classes-button {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #ffffff;
    background-color: #560a0a;
    font-size: 25px;
    padding: 15px;
    border-radius: 50px;
}
#store-button:hover, #classes-button:hover {
    opacity: 0.8;
}

/* -----------This section is for the footer---------- */

footer {
    max-width: 1600px;
    width: 100%;
    background-color: #290000;
    display: grid;
    grid-template-columns: 30% 20% 12% 38%;
    grid-template-rows: 5em 7em 5em;
    margin: 0 auto;
}
footer a, footer p {
    color: #ffffff;
    text-decoration: none;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
}
.social-logo {
    width: 60px;
}
#home-link {
    grid-area: 2/1/3/2;
    font-size: 20px;
    text-align: center;
}
#author-rights {
    grid-area: 2/1/3/2;
    margin-top: auto;
    text-align: center;
}
#contactus-link {
    grid-area: 2/2/3/3;
    margin-top: auto;
    text-align: center;
}
#siteplan-link {
    grid-area: 2/3/3/4;
    margin-top: auto;
}
#social-grid {
    grid-area: 2/4/3/5;
    margin-top: 2em;
    text-align: center;
}
#social-grid a {
    margin-right: 1em;
}

/* --------------------------------------  STORE PAGE - PAGE 2 -------------------------------------- */

.section-headings {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
}
#bassoons h3, #bassoons a, #accessories h3, #accessories a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
#store-content {
    padding-bottom: 5em;
}
#line {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 5em;
    border-bottom: 1px solid black;
    padding-top: 5em;
}

/*--------------- Bassoons section ---------------*/
#bassoons {
    display: grid;
    grid-template-columns: 8% 25% 5% 25% 5% 25%;
    grid-template-rows: 10% 87% 15% 10%;
    width: 90%;
    margin: 0 auto;
    background-color: #560a0a;
    padding-bottom: 7em;

}
#yamaha {
    grid-area: 2/2/3/3; 
    margin-top: auto;
    text-align: center;
}
#yamaha img {
    width: 90%;
}
#yamaha h3 {
    margin: 0 auto;
    color: #ffffff;
}
#yamaha-button {
    text-align: center;
    grid-area: 3/2/4/3;
    margin-top: auto;
}
#schreiber {
    grid-area: 2/4/3/5;
    margin-top: auto;
    text-align: center;
}
#schreiber img {
    width: 90%;
}
#schreiber h3 {
    color: #ffffff;
    margin: 0 auto;
}
#schreiber-button {
    grid-area: 3/4/4/5;
    margin-top: auto;
    text-align: center;
}
#moosmann {
    grid-area: 2/6/3/7;
    text-align: center;
}
#moosmann img {
    width: 90%;
}
#moosmann h3 {
    color: #ffffff;
}
#moosmann-button {
    grid-area: 3/6/4/7;
    margin-top: auto;
    text-align: center;
}
#yamaha-button a, #schreiber-button a, #moosmann-button a {
    border: 1.5px solid #fbbcbc;
    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    color: #560a0a;
    background-color: #ebebeb;
}

/*--------------- Accesories section ---------------*/

#accessories {
    display: grid;
    grid-template-columns: 8% 25% 5% 25% 5% 25%;
    grid-template-rows: 10% 87% 15% 10%;
    width: 90%;
    margin: 0 auto;
    margin-top: 5em;
    background-color: #fbbcbc;
    padding-bottom: 7em;

}
#reeds {
    grid-area: 2/2/3/3; 
    margin-top: auto;
    text-align: center;
}
#reeds img {
    width: 90%;
}
#reeds h3 {
    margin: 0 auto;
    color: #560a0a;
}
#reeds-button {
    text-align: center;
    grid-area: 3/2/4/3;
    margin-top: auto;
}
#case {
    grid-area: 2/4/3/5;
    margin-top: auto;
    text-align: center;
}
#case img {
    width: 90%;
}
#case h3 {
    color: #560a0a;
    margin: 0 auto;
}
#case-button {
    grid-area: 3/4/4/5;
    margin-top: auto;
    text-align: center;
}
#tools {
    grid-area: 2/6/3/7;
    text-align: center;
}
#tools img {
    width: 90%;
}
#tools h3 {
    color: #560a0a;
}
#tools-button {
    grid-area: 3/6/4/7;
    margin-top: auto;
    text-align: center;
}
#reeds-button a, #case-button a, #tools-button a {
    border-radius: 50px;
    padding: 10px 25px;
    text-decoration: none;
    border: 0.5px solid #560a0a;
    color: #560a0a;
    background-color: #ebebeb;
}

/* -------------------------------------- About Us Page - Page 3 -------------------------------------- */
#aboutus-main {
    padding-bottom: 2%
}
#aboutus-title {    
    text-align: center;
    font-size: 30px;
    padding: 2% 0% 1.5% 0%;
    font-family: 'Times New Roman', Times, serif;
    color: #560a0a;
}
#aboutus-title h1 {
    margin: 0 auto;
}
.sections-text {
    grid-column: 1/2;
}
.sections-text h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #560a0a;
    font-size: 50px;
    margin: 4% 5%;
}
.sections-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32.5px;
    margin: 0% 5% 5%;
    padding: 2%;
}
#overview-section {
    display: grid;
    grid-template-columns: 75% 35%;
    margin: auto;
    margin-top: 2%;
    width: 90%;
}
#overview-img {
    width: 60%;
    /* margin: 0 auto; */
    grid-column: 2/3;
}
#overview-img img {
    margin-top: 15%;
    width: 90%;
}
#purpose-section {
    display: grid;
    grid-template-columns: 75% 22%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
#purpose-section div {
    margin: 40% 0%;
}
#purpose-section div img {
    width: 75%;
    margin-left: 12%;
    border-radius: 50px;
}

#community-section {
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

/* -------------------------------------- Form Page -------------------------------------- */
#contactus section {
    width: 50%;
    margin: 0 auto;
    /* border: solid black; */
    padding: 0% 2%;
    margin-top: 3%;
    margin-bottom: 5%;
}
#contactus section h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #560a0a;
    padding-bottom: 2%;
    border-bottom: 2px solid #999;
}
#contactus section p {
    color: #560a0a;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
} 
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #999;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
    border-radius: 50px;
    padding: 2%;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}

/* Do not add any CSS after this section. 
This section is intended to adjust the size of the
page to a variety of screen sizes*/

@media screen and (max-width: 1000px) {
    main {
        padding-bottom: 2em;
    }
    .logo {
        width: 25%;
        display: block;
        margin: 0 auto;
        margin-top: 0.7%;
    }
    nav {
        padding: 1.5% 0%;
    }
    nav a{
        font-size: 90%;
    }
    #hero-img {
        order: 1;
    }
    #home-title {
        font-size: medium;
        color: #290000;
        /* border: solid black; */
        margin: 0 auto;
        padding: 1%;
    }
    #first-msg {
        background-color: gray;
        font-size: 15px;
        margin: 0 auto;
        padding: 12px;
        margin: 1em 1em 5em 1em;
    }
    #hero {
        display: block;
    }
    #home-grid {
        display: inline-block;
    }
    #store-text, #classes-text {
        font-size: 20px;
        padding: 15px;
        width: 55%;
        margin: 0 auto;
        margin-top: 0.3em;
        border: 1.5px solid black;
    }
    #store-img, #classes-img {
        width: 80%;
        margin: 0 auto;
        /* box-shadow: 1px 2px 15px #190c0c; */
    }
    #store-text {
        margin-bottom: 4em;
    }
    #store-button, #classes-button {
        padding: 8px;
        font-size: 10px;
        border: 1px solid black;
    }
    footer {
        display: inline-block;
        padding-bottom: 1em;
    }
    #siteplan-link {
        text-align: center  ;
    }
    .social-logo {
        width: 20px;
    }
    #social-grid a {
        margin-right: 5px;
        padding-bottom: 15px;

    }
    /* Store Page - Page 2 */
    #bassoons {
        display: block;
        font-size: 35px;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #bassoons img {
        width: 60%;
        margin-bottom: 0.5em;
    }
    #bassoons h3 {
        margin-bottom: 1em;
    }
    #yamaha-button , #schreiber-button , #moosmann-button {
        margin-bottom: 2em;
    }
    #accessories {
        display: block;
        font-size: 35px;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #accessories img {
        width: 60%;
        margin-bottom: 0.5em;
    }
    #accessories h3 {
        margin-bottom: 1em;
        font-size: 60%;
    }
    #reeds-button , #case-button , #tools-button {
        margin-bottom: 2em;
    }
    #bassoons a, #accessories a {
        font-size: 45%;
    }
    /* About Us Page - Page 3 */
    #aboutus-title {
        font-size: 100%;
        margin-top: 3%;
    }
    .sections-text h2 {
        font-size: 150%;
    }
    .sections-text p {
        font-size: 100%;
    }
    #overview-section, #purpose-section, #community-section {
        margin-top: 8%;
        padding-top: 2%;
        border-top: 0.8px solid #290000;
    }
    /* Form Page */
    
    label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 90px;
        text-align: left;
        padding-bottom: 0.5em;
    }
    
    form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 200px;
        /* Form outline */
        padding: 1em;
        border: 1px solid #999;
        border-radius: 1em;
    }
    input, textarea {
        width: 98%;
    }
    .button {
        padding-left: 0%;
    }
    
    button {
        margin-left: 15%;
        padding: 3%;
        border-radius: 50px;
    }
    #contactus section h2 {
        margin: auto;
        margin-bottom: 3%;
        font-size: 100% ;
        width: 75%;
        border-bottom: 0.3px solid #999;
    }
    #contactus section p {
        margin: 0 auto;
        width: 75%;
        font-size: 65%;
    }
    #contactus section {
        margin-bottom: 8%;
        width: 100%;
    }
}